@model IEnumerable<Server.Models.Listing>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Condition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastDateEdited)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ListingType)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Condition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastDateEdited)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ListingType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ListingID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ListingID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ListingID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
